{% extends "base.html" %}

{% block title %}Редактировать функцию{% endblock %}

{% block content %}
<div class="card fancy-card mx-auto" style="max-width: 900px;">
    <div class="card-body">
        <h1 class="mb-4">Редактировать функцию</h1>

        <form method="post">
            <input class="form-control mb-3" name="name" value="{{ func.name }}" required>

            <textarea class="form-control mb-3" name="description" rows="10" required>{{ func.description }}</textarea>

            <textarea class="form-control mb-3" name="formula" rows="5">{{ func.formula }}</textarea>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-main">Сохранить</button>
                <a href="{{ url_for('function_detail', id=func.id) }}" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}