{% extends "base.html" %}

{% block title %}{{ subsection.title }}{% endblock %}

{% block content %}
<div class="page-header-box mb-4">
    <div class="mb-2">
        <a href="/" class="text-decoration-none">Главная</a>
        /
        <a href="{{ url_for('section_detail', section_id=section.id) }}" class="text-decoration-none">{{ section.title }}</a>
        /
        <span>{{ subsection.title }}</span>
    </div>

    <h1>{{ subsection.title }}</h1>
    <p class="text-muted mb-0">{{ subsection.description | safe }}</p>
</div>

<div class="fancy-card">
    <h2 class="mb-4">Содержание</h2>

    <div class="list-group list-group-flush">
    {% for material in materials %}
        <div class="list-group-item py-3 d-flex justify-content-between align-items-center gap-3">

            <a href="{{ url_for('material_detail', material_id=material.id) }}"
               class="text-decoration-none flex-grow-1">
                {{ material.title }}
            </a>

            {% if current_user.is_authenticated %}
               <div class="d-flex gap-2">
        <a href="{{ url_for('edit_material', material_id=material.id) }}"
           class="btn btn-sm btn-outline-warning">
            Редактировать
        </a>

        <form method="post"
              action="{{ url_for('delete_material', material_id=material.id) }}"
              onsubmit="return confirm('Удалить материал?');">
            <button class="btn btn-sm btn-outline-danger" type="submit">
                Удалить
            </button>
        </form>
    </div>

        </div>
    {% else %}
        <div class="text-muted">
            В этом подразделе пока нет материалов.
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
